* {
  box-sizing: border-box;
  margin: 0;
}
ul,
ol {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 20px;
}
